$bp-mobile: 750px;
$bp-desktop-small: 1200px;
$bp-desktop-medium: 1400px;
$bp-desktop-large: 1600px;
$bp-desktop-xlarge: 1800px;

@mixin phone {
  @media (max-width: #{$bp-mobile}) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: #{$bp-desktop-small}) {
    @content;
  }
}

@mixin desktop-medium {
  @media (max-width: #{$bp-desktop-medium}) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$bp-desktop-large}) {
    @content;
  }
}

@mixin desktop-xlarge {
  @media (min-width: #{$bp-desktop-xlarge}) {
    @content;
  }
}
